@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital@0;1&display=swap');


:root {
  /* PRIMARY */
  --navy-900: #213448;   /* navbar, footer, hero */
  --navy-800: #2A3E55;   /* overlay, dark section */
  --navy-700: #344E6B;

  /* SURFACE (background terang) */
  --surface-100: #F6FAFC; /* page background */
  --surface-200: #E7F3F8; /* project section */
  --surface-300: #D9E7EF; /* cards */

  /* ACCENT */
  --accent: #94B4C1;     /* buttons */
  --accent-soft: #BFD4DE;

  /* TEXT */
  --text-dark: #1E2A38;
  --text-muted: #5F6F7A;
  --text-light: #FFFFFF;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 24px;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

nav {
    background-color: var(--navy-900);
    color: var(--text-light);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper{
    max-width: 1200px;    
    width: 100%;
    margin: auto;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

/* MENU */

.menu{
    margin-left: auto;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    gap: 32px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

/* HOVER EFFECT GLOBAL */
.menu > ul > li > a {
    position: relative;
    padding-bottom: 4px;
}

.menu > ul > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #94B4C1;
    transition: width 0.3s ease;
}

.menu > ul > li > a:hover::after {
    width: 100%;
}

/* HERO */
.home-header{
    background: linear-gradient(rgba(33,52,72,0.85),
      rgba(33,52,72,0.85)),url("../images/header.jpg");
    height: 100vh;
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}

.hero{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    overflow-x: hidden;
}

/* FOTO */
.hero-left img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

/* TEKS */
.hero-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.hero-right h1{
    color: #fff;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.hero-right p{
    color: #ddd;
    max-width: 420px;
    line-height: 1.6;
    margin-bottom: 24px;
}

/* BUTTON */
.btn-primary{
    display: inline-block;
    padding: 12px 28px;
    background-color: #94B4C1;
    color: #1e2a38;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 600;
    transition: all 0.3s ease;
    align-self: center;
    width: fit-content;
}

.btn-primary:hover {
    background-color: #fff;
    transform: translateY(-3px);
}

/* ABOUT */
#about {
  background: var(--surface-100);
  color: var(--text-dark);
  padding: 80px 0;
  overflow: visible;
}

.container h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

.about-intro {
  max-width: 100%;
  margin-bottom: 48px;
  line-height: 1.7;
  white-space: normal;
  word-wrap: break-word;
}

.experience-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.experience-item {
  background: var(--navy-900);
  color: var(--text-light);
  padding: 10px;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  box-sizing: border-box;
}

.experience-item h4 {
  margin-bottom: 6px;
}

.experience-item span {
  font-size: 0.9rem;
  color: #c2bfbf;
}

.skills h3{
    font-size: 40px;
    margin-bottom: 18px;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 40px;
}


.skill-tags span {
  background: #213448;
  color: #fff;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.achievements h3{
    font-size: 40px;
    margin-bottom: auto;
}

/* =================
PROJEK GRID
====================*/
#projects {
  padding: 100px 0;
  background: var(--surface-200);
}

.section-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.section-subtitle {
  color: #666;
  margin-bottom: 48px;
  max-width: 600px;
}

/* GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 32px;
}

/* CARD */
.project-card {
  background: var(--surface-100);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
}

.project-card:hover {
  transform: translateY(-6px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
}

.project-ubus img{
  width: 100%;
  object-fit: cover;
}

/* CONTENT */
.project-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.project-content h4 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.project-content p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}

/* BUTTON - SEE DETAILS (CARD) */
.project-buttons {
    display: flex;
    gap: 12px;                 
    margin-top: 14px;
    justify-content: center;   
    flex-wrap: wrap;          
}

.btn-details {
    display: inline-block;
    padding: 10px 22px;
    background-color: var(--accent);
    border: 2px solid #94B4C1;
    color: var(--text-dark);
    text-decoration: none;
    border-radius: 999px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-details:hover {
    background-color: #ffffff;
    transform: translateY(-2px);
}

/* DETAIL PROJEK */
/* BACK NAV */
.project-nav {
  padding: 20px 0 0;
}

.back-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #f2f2f2;
    color: #213448;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

    margin-top: 50px;  
    margin-bottom: 20px;

    transition: all 0.3s ease;
}

.back-btn:hover {
    background: #e0e0e0;
    transform: translateX(-4px);
}


.project-header{
    background: none;
    padding: 0px 0 0px;
    text-align: center;
}

.project-header h1 {
  font-size: 50px;
  margin-bottom: 6px;
}

.project-header h3 {
  margin-top: 6px;
}

.detail-project{
  background: var(--surface-100);
}

/* PROJECT INFO BOX */
.project-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: var(--surface-300);
  padding: 20px;
  border-radius: 16px;
  margin: 40px 0 60px;
}

.project-info span {
  font-size: 0.8rem;
  color: #535252;
  margin-bottom: 1px;
}

.project-info p {
  font-weight: 600;
}

/* FEATURES */
.project-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 100px;
  max-width: 900px;      
  margin: 48px auto 64px;
}

.feature-card {
  background: #d1dde7;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  width: 300px;
}

.feature-card h4 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.feature-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 16px;
}

.feature-card img {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: contain;
}

/* PROCESS */
.project-section h2 {
  margin-top : 32px;
  margin-bottom: 32px;
}

.process-list {
  display: grid;
  gap: 32px;
}

.process-item {
  padding-left: 20px;
  border-left: 3px solid #90aeba;
  background-color: #ebf0f6;
}

.process-item h4 {
  margin-bottom: 6px;
}

/* OUTCOME */
.outcome-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 24px;
}

.outcome-item{
    background: var(--surface-300);
    padding: 20px;
    border-radius: 12px;
    font-size: 0.95rem;
}

.project-footer {
    margin-top: 80px;    
    text-align: center;
    margin-bottom: 80px;
}

/* VIDEO SOLAR SYSTEM */
.feature-video {
  opacity: 0.9;
  transition: transform 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
}

.feature-video:hover {
  transform: scale(1.03);
}

/* VIDEO DETAIL FITURE SOLAR SYSTEM */
.featuredetail-video {
  opacity: 0.9;
  transition: transform 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
}

.detail-feature-video:hover {
  transform: scale(1.03);
}

.detail-feature-video{
  opacity: 0.9;
  transition: transform 0.3s ease;
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
}

/* GAMBAR FIREBASE */
.img-firebase{
  object-fit: cover;
  border-radius: 20%;
}

.img-dashboard img{
  object-fit: cover;
}

/* =====================
   FOOTER
===================== */

.site-footer {
    background: linear-gradient(
        to top,
        #213448,
        #1e2a38
    );
    padding: 80px 24px 40px;
    margin-top: 0px;
}

.footer-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: #e5e7eb;
}

.footer-name {
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: #ffffff;
}

.footer-desc {
    font-size: 0.95rem;
    color: #cbd5e1;
    margin-bottom: 32px;
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin-bottom: 32px;
}

.footer-socials a {
    padding: 10px 18px;
    border-radius: 20px;
    background-color: rgba(148, 180, 193, 0.15);
    color: #ffffff;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.footer-socials a:hover {
    background-color: #94B4C1;
    color: #1e2a38;
    transform: translateY(-3px);
}

.footer-copy {
    font-size: 0.75rem;
    color: #9ca3af;
}


/* =================
ANIMASI 
====================*/
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1s ease forwards;
}

/* =================
MEDIA 
====================*/
@media (max-width: 1200px) {
    header{
        height: auto;
        padding: 120px 0 80px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 40px;
    }

    .hero-left img {
        width: 220px;
        height: 220px;
        justify-content: center;
    }

    .hero-right{
        align-items: center;
    }

    .btn-primary {
        align-self: center;
    }

    nav > .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .menu {
        width: 100%;
        margin-left: 0;
    }

    .menu > ul {
        justify-content: center;
        gap: 24px;
        font-size: 1rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-image{
        width: 220px;
    }
}

@media (max-width: 768px) {
  .experience-item {
    padding: 20px;
    border-radius: 16px;
  }
}

@media (max-width: 900px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .project-header h1 {
    font-size: 32px;
  }

  .project-features {
    grid-template-columns: 1fr;
  }

  .project-info {
    grid-template-columns: 1fr;
  }

  .detail-feature{
    text-align: center;
  }
}

@media (max-width: 600px) {
    .footer-name {
        font-size: 16px;
    }

    .footer-socials a {
        font-size: 16px;
        padding: 8px 14px;
    }
}


